.main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main div{
    margin: 50px;
}

.container_div{
    height: 400px;
    width: 600px;
    border: 1px solid black;
    border-radius: 10px;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
}

.container_div div{
    width: 120px;
    height: 120px;
    margin: 20px;
    border-radius: 50%;
    border: 1px solid rgb(0, 0, 0);
    visibility: hidden;
    cursor: pointer;
}


.circle_div{
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle_div div{
    width: 120px;
    height: 120px;
    margin: 20px;
    border-radius: 50%;
    border: 1px solid rgb(0, 0, 0);
    display: block;
}

.button_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 200px;
    
}

#input{
    font-size: 30px;
    margin-bottom: 20px;
    width: 300px;
    border-radius: 5px;
}

#shoot_button{
    font-size: 30px;
    padding: 10px;
    border-radius: 10px;
    width: 150px;
    background: linear-gradient(90deg, #d53369 0%, #daae51 100%);

}
